body {
  margin: 0;
  padding: 0;
  background-color: rgb(10, 10, 10) !important;
  font-family: 'Roboto';
}

a {
  color: white !important;
}

.slider{
  text-shadow: black !important;
}

.pista{
  background-color: rgb(55,55,55) !important;
  border-radius: 0px !important;
}

.tumber{
  border-radius: 0px !important;
  background-color: rgb(55,55,55) !important;
  border-color: rgb(55,55,55) !important;
  color: white !important;
}

p{
  color: white !important;
}

.cards{
  width: 328px !important;
  height: 220px !important;
}

.img_car{
  size: auto;
  width:100%;
  height:100%;
}

.botao{
  float: right;
}

a:hover {
  color: white !important;
  background-color: rgb(85, 85, 85) !important;
  align-self: right;
}

.logo {
  width: 75px;
  height:35px;
  margin-top: -5px;
}

.navbar {
  background-color: transparent;
}

.row {
  color: white;
}

.colossus{
  background-color: rgb(55, 55, 55);
  border-radius: 0px;
  text-align: justify;
  padding: 15px;
  color: white;
  height: 336.08px;
}

.coluna{
  background-color: rgb(55, 55, 55);
  border-radius: 0px;
  text-align: justify;
  padding: 15px;
  color: white;
  padding-bottom: 50px;
}

.div-form{
  background-color: rgb(55, 55, 55);
  border-radius: 0px;
  text-align: justify;
  padding: 15px;
  color: white;
  padding-bottom: 40px;
}

.box {
  background-color: rgb(55, 55, 55);
  border-radius: 0px;
  text-align: justify;
  padding: 15px;
  color: white;
  height: 235px;
}

.banner {
  width: 100%;
  height: 174px;
  /* padding-left: 30px; */
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 0px;
}

.col-md-12, .col-md-6, .col-md-4, .col-md-3{
  padding: 15px;
}

form {
  color: white;
  padding-left: 30px;
}

input {
  border-radius: 0px;
  color: black !important;
}

textarea {
  border-radius: 0px;
  color: black !important;
}

h3 {
  color: white !important;
}

.mansao {
  border-radius: 0px;
}

.caixa-foto {
	text-align: justify;
}

.foto {
  width: 100px;
  height: 100px;
  border-radius: 0px;
  text-align: justify;
}

.rodape {
  background-color: rgb(55, 55, 55);
  border-radius: 0px;
  text-align: justify;
  padding: 15px;
  color: white;
}

.texto {
  background-color: rgb(55, 55, 55);
  color: white;
  text-align: justify;
  padding: 10px 15px;
}

.prof{
  background-color: rgb(55, 55, 55);
  color: white;
  height: 330px !important;
}

.col-md-4{
  padding-left: 30px !important;
}

.mistica{
  background-color: rgb(55, 55, 55);
  border-radius: 0px;
  text-align: justify;
  padding: 15px;
  color: white;
  height: 312.64px;
}

.magneto{
  background-color: rgb(55, 55, 55);
  border-radius: 0px;
  text-align: justify;
  padding: 15px;
  color: white;
  height: 309.58px;
}